* {
  background-color: #f4f3ed;
}

#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  /* padding: 2rem; */
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 3rem;

  font-family: "EB Garamond", serif;
  font-size: 18px;

  margin-top: 2rem;
  list-style: none;
}

#links {
  text-decoration: underline;
}


/* ------  HEADER ------ */

header {
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.2;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 100px;
}

.header-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}

#header-title {
  padding-top: 8px;
  font-family: "EB Garamond", serif;
  font-size: 75px;
  font-weight: 700;
}

.profile-pic {
  max-height: 300px;
  border-radius: 5%;
}

/* ------  SKILLS ------ */
skills {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: auto;
  margin-top: 225px;
  gap: 5%;
}

.skill-card {
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  height: max-content;
  box-shadow: 5px 5px rgb(55, 55, 55);
}

.skill-title {
  font-family: "EB Garamond", serif;
  font-weight: 600 ;
  margin-top: 20px;
}

.skilllist {
  margin-top: 25px ;
  margin-left: 10%;
  line-height: 1;
  text-align: left;
}

.skill-ind {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-icon {
  margin-right: 10px;
}




/* ------  ABOUT ------ */

.about {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'DM Sans', sans-serif;
}

.about-section {
  margin-top: 50px;
}

.about-title {
  font-family: "EB Garamond", serif;
}

.education-cards {
  display: flex;
  gap: 25px;
}

.education-list{
  display: flex;
  border: 2px solid rgb(55, 55, 55);
  box-shadow: 5px 5px rgb(55, 55, 55);
  border-radius: 10px;
  padding: 18px;
}

.ed-content-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  list-style: none;
  margin-top: 15px;
}

.ed-content-desc {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}


/* ------  PROJECTS ------ */

.projects {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'DM Sans', sans-serif;
}

.project-title {
  font-family: "EB Garamond", serif;
}

.project-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.project-ind {
  padding: 30px;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  gap: 10px;
}

.project-image {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}

.project-link {
  font-family: 'DM Sans', sans-serif;
  color: rgb(55, 55, 55) ;
  border: 2px solid rgb(55, 55, 55);
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

.project-link:hover {
  box-shadow: 5px 5px rgb(55, 55, 55);
  background-color: #e4e2d6;
}



/* ------  CONTACT ------ */
.contact {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'DM Sans', sans-serif;
}

.contact-title {
  font-family: "EB Garamond", serif;
}

.line-container {
  display: flex;
  gap: 65px;
  margin-top: 50px;
}

.contact-line {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(55, 55, 55) ;
  border: 2px solid rgb(55, 55, 55);
  padding-top: 5px ;
  padding-bottom: 5px ;
  padding-left: 15px ;
  padding-right: 15px ;
  border-radius: 10px;
  text-decoration: none;
}

.contact-line:hover {
  box-shadow: 5px 5px rgb(55, 55, 55);
  background-color: #e4e2d6;
}

.p-tag {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: transparent;
}

.icon-contact {
  background-color: transparent;
}


/* ------  RESUME ------ */

.resume {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'DM Sans', sans-serif;
}

.resume-title {
  font-family: "EB Garamond", serif;

}


/* ------  FOOTER ------ */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 150px;
  height: 100px;
  background-color: #dfdfdf;
}

.foot-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.icon-color-footer {
  background-color: #dfdfdf;
}